[run]
omit =
    # omit everything in local lib dirs anywhere
    /usr/local/*
    # omit everything in test dirs
    ltest/*
    test_local/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover